<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="/" class="b-brand">
                <div class="b-bg">
                    <img src="static/assets/images/xcelerate_logo.png" width="30">
                </div>
                <span class="b-title">Xcelerate</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
                    class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-bar-chart-2"></i></span><span
                            class="pcoded-mtext">Dashboard</span></a>
                </li>
                <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds"
                    class="nav-item pcoded-hasmenu ">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-mail"></i></span><span
                            class="pcoded-mtext">Email</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="/bc_button.html" class="">Inbox</a></li>
                        <li class=""><a href="/bc_badges.html" class="">Sent Items</a></li>
                        <li class=""><a href="/bc_collapse.html" class="">Drafts</a></li>
                        <li class=""><a href="/bc_typography.html" class="">Deleted Items</a></li>
                    </ul>
                </li>
                <li data-username="Profile Page"
                    class="nav-item {% if 'profile3' in segment %} active {% endif %}">
                    <a href="/profile.html" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-plus-circle"></i></span>
                            <span class="pcoded-mtext">New Master Job</span></a>
                </li>
                                <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds"
                    class="nav-item pcoded-hasmenu ">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-codepen"></i></span><span
                            class="pcoded-mtext">Master Jobs</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="/bc_button.html" class="">My Jobs</a></li>
                        <li class=""><a href="/bc_badges.html" class="">All Open Jobs</a></li>
                        <li class=""><a href="/bc_collapse.html" class="">All Jobs</a></li>
                    </ul>
                </li>
                                <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds"
                    class="nav-item pcoded-hasmenu ">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span
                            class="pcoded-mtext">Job Files</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="/bc_button.html" class="">My Files</a></li>
                        <li class=""><a href="/bc_badges.html" class="">All Open Files</a></li>
                        <li class=""><a href="/bc_collapse.html" class="">All Files</a></li>
                    </ul>
                </li>
                <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds"
                    class="nav-item pcoded-hasmenu ">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-calendar"></i></span><span
                            class="pcoded-mtext">Schedule</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="/bc_button.html" class="">My Schedule</a></li>
                        <li class=""><a href="/bc_badges.html" class="">Job Board</a></li>
                        <li class=""><a href="/bc_collapse.html" class="">Technician Scheduler</a></li>
                    </ul>
                </li>
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
                    class="nav-item {% if 'tasks' in segment %} active {% endif %}">
                    <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-flag"></i></span><span
                            class="pcoded-mtext">Tasks</span></a>
                </li>
                 <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds"
                    class="nav-item pcoded-hasmenu ">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-users"></i></span><span
                            class="pcoded-mtext">CRM</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="/bc_button.html" class="">People</a></li>
                        <li class=""><a href="/bc_badges.html" class="">Companies</a></li>
                        <li class=""><a href="/bc_collapse.html" class="">Schedule</a></li>
                        <li class=""><a href="/bc_typography.html" class="">Leaderboards</a></li>
                        <li class=""><a href="/bc_typography.html" class="">Notes</a></li>
                    </ul>
                </li>
                <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds"
                    class="nav-item pcoded-hasmenu ">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span
                            class="pcoded-mtext">Admin</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="/icon-feather.html" class="">User Setup</a></li>
                        <li class=""><a href="/bc_badges.html" class="">Form Builder</a></li>
                        <li class=""><a href="/bc_badges.html" class="">Task Builder</a></li>
                        <li class=""><a href="/bc_collapse.html" class="">KPI Management</a></li>
                        <li class=""><a href="/bc_typography.html" class="">Settings</a></li>
                        <li class=""><a href="/bc_typography.html" class="">Company Details</a></li>
                        <li class=""><a href="/bc_typography.html" class="">Integrations</a></li>
                    </ul>
                </li>
                                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
                    class="nav-item {% if 'reports' in segment %} active {% endif %}">
                    <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-bar-chart-2"></i></span><span
                            class="pcoded-mtext">Reports</span></a>
                </li>
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
                    class="nav-item {% if 'timetracking' in segment %} active {% endif %}">
                    <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-clock"></i></span><span
                            class="pcoded-mtext">Time Tracking</span></a>
                </li>
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
                    class="nav-item {% if 'quickbooks' in segment %} active {% endif %}">
                    <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-check-circle"></i></span><span
                            class="pcoded-mtext">Accounting</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->
